# Auxiliary files
**/data
**/_sandbox.py

# Root level
build/
.mypy_cache/
.coverage
.coverage.*
.nox/
.python-version
.pytype/
dist/
docs/_build/
__pycache__/
# Namespace package level
*.egg-info/
**/*.vscode
**/.mypy_cache/
**/.python-version
**/.pytype/
**/*.egg-info/
**/__pycache__/
